// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.btn-light-success{
    background-color: #11ba5a;
    color: #fff;
    border-color: #11ba5a;
}

.btn-light-success:hover{
    background-color: #0f9d4b;
    color: #fff;
    border-color: #0f9d4b;
}

.btn-light-warning{
    background-color: #ffbb44;
    color: #fff;
    border-color: #ffbb44;
}

.btn-light-warning:hover{
    background-color: #ffaa22;
    color: #fff;
    border-color: #ffaa22;
}

.btn-light-danger{
    background-color: #ff5b5b;
    color: #fff;
    border-color: #ff5b5b;
}

.btn-light-danger:hover{
    background-color: #ff3333;
    color: #fff;
    border-color: #ff3333;
}

.required::after{
    content: " *";
    color: rgb(247, 57, 57);
}

.form-check-label {
    margin-left: 10px; /* Increased left margin for better alignment */
    display: block; /* Ensures label uses full width for better clickability */
}

input[type="checkbox"] {
    padding: 8px;
    cursor: pointer; /* Ensures the cursor indicates an interactive element */
}

.form-check-input {
    margin-right: 10px; /* Ensures spacing between checkbox and label */
}

#course_setting_ids-error {
    margin-top: 10px; /* Separates error message from checkboxes */
    padding-left: 15px; /* Aligns error message with checkboxes */
}

/* Additional responsive considerations */
@media (max-width: 768px) {
    .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
